<!-- <form [formGroup]="personInfo" (ngSubmit)="saveInfo(personInfo.value)">
    <label for="0">First Name: </label>
    <input style="width: 30%;" type="text" id="0" class="form-control mb-3" formControlName="firstName">
    <label for="1">Last Name: </label>
    <input style="width: 30%;" type="text" id="1"class="form-control mb-3" formControlName="lastName">
    <label for="2">Nationality: </label>
    <input style="width: 30%;" type="text" id="2"class="form-control mb-3" formControlName="nationality">
    <label for="3">Age: </label>
    <input style="width: 30%;" type="text" id="3" class="form-control mb-3" formControlName="Age">
    <label for="4">Gender: </label>
    <input style="width: 30%;" type="text" id="4" class="form-control mb-3" formControlName="gender">
    <button class="btn btn-info ml-3" type="submit">Save</button>
    <button class="btn btn-warning" >Cancel</button>
</form> -->
<p>Update Works!</p>